* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.table{
}
.table>dl{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.table>dl>dt{
  flex-grow: 1;
  align-self: center;
}
.table>dl>dd{
  flex-grow: 3;
}
