<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
	<nav>
	<h1>비트교육센터</h1>
		<ul>
			<li><a href="${pageContext.request.contextPath }/">home</a></li>
			<li><a href="${pageContext.request.contextPath }/intro">intro</a></li>
			<li><a href="${pageContext.request.contextPath }/bbs/">bbs</a></li>
			<li><a href="${pageContext.request.contextPath }/login/">login</a></li>
		</ul>
	</nav>
	<div class="container">
		<div id="content">