@charset "UTF-8";
nav{
	border-bottom: 3px solid gray;	padding: 5px;	overflow: hidden;
}
nav>div{	display: inline-block;	}
nav>div>h1{
	width: 205px;	height: 42px;	text-indent: -9999px;
	background-image: url("http://www.bitacademy.com/img/logo.jpg");
}
nav>ul{	list-style: none;	}
nav>ul>li{	float: left;	width: 100px;}
nav>ul>li>a{
	display: block;	height: 35px;	color: #999999;
	text-decoration: none;	text-align: center;
}
nav>form{	float: right;	}
.container{ margin: 0px auto; width: 960px;}