<script>
  import Router, { link } from "svelte-spa-router";
  import routes from "./routes";

  // import Router from 'svelte-spa-router'
  // import routes from './routes'
</script>

<ul>
  <li><a href="/" use:link>home</a></li> 
  <li><a href="/dept" use:link>dept</a></li>
  <li><a href="/login" use:link>login</a></li>
</ul>
<div>
  <Router {routes}/>
</div>

<style>

</style>
