@charset "UTF-8";
nav{
	background-color: gray;
	overflow: hidden;
}
nav>ul{
	list-style: none;
	padding: 0px;
	margin: 0px auto;
	width: 560px;
}
nav>ul>li{
	margin: 0px;
	float: left;
	width: 140px;
}
nav>ul>li>a{
	display: block;
	height: 50px;
	color: white;
	text-decoration: none;
	background-color: darkgray;
	border-right: 1px solid gray;
	text-align: center;
	line-height: 50px;
}
nav>ul>li>a:first-child{
	border-left:  1px solid gray;
}
nav>ul>li>a:hover{
	background-color: red;
}