@charset "UTF-8";
#content>table{
	border-collapse: collapse;
	width: 80%;
	margin: 0px auto;
}
#content>table tr{}
#content>table,#content>table tr>th,#content>table tr>td{
	border: 1px solid gray;
}
#content>table>thead>tr>th:first-child{
	width: 80px;
}
#content>table tr>th:nth-child(3)
,#content>table tr>th:nth-child(4)
,#content>table tr>th:nth-child(5)
{
	width: 20%;
}