@charset "UTF-8";
	.container{
		margin: 0px auto;
		width: 960px;
		border-left: 1px double gray;
		border-right: 1px double gray;
	}
	.container>#header{
		overflow: hidden;
	}
	.container>#header>h1{
		width: 300px;
		height: 100px;
		background-image: url("https://dummyimage.com/300x100/000/fff&text=LOGO");
		text-indent: -999px;
		float: left;
	}
	.container>#header>div{
		float: right;
	}
	.container>#header>div>form{
		padding-right: 10px;
	}
	.container>#header>div>form a{
		border: 1px solid gray;
		display: inline-block;
		width: 100px;
		height: 25px;
		background-color: gray;
		text-align: center;
		text-decoration: none;
		color: yellow;
	}
	.container>#menu{
		background-color: gray;
		height: 35px;
	}
	.container>#menu>ul{
		list-style: none;
		width: 430px;
		padding: 0px;
		margin: 0px auto;
	}
	.container>#menu>ul>li{
		width: 100px;
		float:left;
		display: inline-block;
		background-color: gray;
	}
	.container>#menu>ul>li>a{
		display: block;
		height: 35px;
		text-decoration: none;
		color: white;
		position: relative;
		text-align: center;
	}
	.container>#menu>ul>li>ol{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.container>#menu>ul>li>ol>li{
	}
	.container>#menu>ul>li>ol>li>a{
		display: block;
		height: 35px;
		background-color: gray;
		color: white;
		text-decoration:none;
		text-align: center;
		line-height: 35px;
	}
	.container>#content{}

	.container>#footer{}