nav ul,nav ul ol{
  margin-left: 20px;
  padding: 0px;
  color: #333;
}
nav a{
  color: gray;
  text-decoration: none;
  border-bottom: 1px solid gray;
  display: block;
}
nav a>span{
  font-size: small;
}
nav ul{
  display: grid;
  grid-template-columns: 1fr;
  list-style: '▶';
}
nav ul>li>ol{
  list-style: '┗';
}
nav ul ol>li{
  /* margin-left: 15px; */
}
nav ul>li>ol>li>ol{
  list-style: '┗';
}
.u{ display: grid;grid-auto-flow: column;grid-template-columns: 10px auto;}
form{
  display: grid;
  grid-gap: 2px;
  max-width: 500px;
  margin-top: 50px;
}
form>label{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2px;
}
form>button{
}
