<script>
  import {pop } from "svelte-spa-router";
  export let params = {}

  var requestURL =
  `https://jsonplaceholder.typicode.com/users/${params.deptno}`;
    let obj;
    fetch(requestURL).then(e=>e.json()).then(e=>obj=e);
</script>
<h1>{params.deptno} page</h1>
{#if obj }
<ul>
    <li>name: {obj.name}</li>
    <li>username: {obj.username}</li>
    <li>{JSON.stringify(obj.company)}</li>
    <li>{JSON.stringify(obj.address)}</li>
    <li>phone: {obj.phone}</li>
    <li>website: {obj.website}</li>
</ul>
{/if}
<button on:click={() => pop()}>Go back</button>