<script>
  import { link } from "svelte-spa-router";

    var requestURL =
  "https://jsonplaceholder.typicode.com/users";
    let arr;
    fetch(requestURL).then(e=>e.json()).then(e=>arr=e);
</script>
<h1>Depts page</h1>
{#if typeof arr=='object' }
    <ol>
        {#each arr as ele }
            <li><a use:link={'/dept/'+ele.id}>{ele.name}</a> - {ele.username}</li>
        {/each}
    </ol>
    {:else}
        <h3>loading...</h3>
    {/if}
    <a use:link={'/dept/add'}>입력</a>