<script>
import { onMount,beforeUpdate,afterUpdate,onDestroy } from 'svelte';
import {push, pop, replace} from 'svelte-spa-router';

onMount(() => {console.log('the component has mounted');});
beforeUpdate(() => {console.log('the component is about to update');});
afterUpdate(() => {console.log('the component just updated');});
onDestroy(() => {console.log('the component is being destroyed');});

const handleSubmit=()=>{
    push('/dept');
};
</script>
<h1>insert page</h1>
<form on:submit|preventDefault={handleSubmit}>
    <div>
        <label><input name="name" value="user0"/></label>
        <label><input name="email" value="user@localhost"/></label>
        <button >입력</button>
    </div>
</form>