<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    
    <!-- user add style -->
    <link href="../../static/css/userStyle.css" th:href="@{/css/userStyle.css}" rel="stylesheet">
    <style rel="stylesheet" type="text/css">
      .container form .form-control{
		  background-color: white;
	  }
	  .container+.modal form{
		  display: inline;
	  }
      
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">비트교육센터</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="../">Home</a></li>
            <li><a href="../intro.html" th:href="@{../intro}">Intro</a></li>
            <li class="active"><a href="./index.html" th:href="@{./}">Bbs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/bbs/">Bbs</a></li>
          <li class="active">Insert</li>
        </ol>
        <form class="form-signin" method="get" action="index.html" th:action="@{./}+${bean.num}" th:method="post">
	        <input type="hidden" name="_method" th:value="put">
	        <input type="hidden" name="num" th:value="${bean.num}">
	        <h2 class="form-signin-heading">상세페이지</h2>
	        <label for="sub" >subject</label>
	        <input type="text" id="sub" class="form-control" name="sub" value="제목3" th:value="${bean.sub}" readonly>
	        <label for="id">id</label>
	        <input type="text" id="id" class="form-control" name="id" value="글쓴이" th:value="${bean.id}" disabled>
	        <label for="nalja">date</label>
	        <input type="date" id="nalja" class="form-control" name="nalja" th:value="${#dates.format(bean.nalja,'yyyy-MM-dd')}" value="23/07/04" disabled>
	        <label class="sr-only">content</label>
	        <textarea class="form-control" name="content" th:text="${bean.content}" readonly>가상 내용글...</textarea>
	        <button class="btn btn-primary btn-block" type="submit">수정</button>
	        <button class="btn btn-danger btn-block" type="button">삭제</button>
	        <button class="btn btn-default btn-block" type="reset">취소</button>
	        <button class="btn btn-default btn-block" type="button" onclick="history.back();">뒤로</button>
      	</form>
      </div>

    </div><!-- /.container -->

	<div class="modal fade" tabindex="-1" role="dialog" id="deleteCheck">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"><span th:text="${bean.num}">1</span>번글을 삭제하시겠습니까?</h4>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	        <form action="./index.html" th:action="@{./}+${bean.num}" th:method="post">
			<input type="hidden" name="_method" th:value="delete">
			<input type="hidden" name="num" th:value="${bean.num}">
	        <button type="submit" class="btn btn-danger">삭제</button>
			</form>
				
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
		$(()=>{
			$('.container .form-signin').find('button').eq(2).hide();
			$('.container .form-signin').one('submit',e=>{
				$('.container .form-signin').find('input').eq(2).removeProp("readonly");
				$('.container .form-signin').find('textarea').removeProp("readonly");
				$('.container .form-signin').find('button').eq(2).show();
				$('.container .form-signin').find('button').eq(3).hide();
				return false;
			});
			$('.container .form-signin button').eq(1).click(e=>{
				$('#deleteCheck').modal('show');
			});
		});
	</script>
  </body>
</html>
