<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    
    <!-- user add style -->
    <link href="../../static/css/userStyle.css" th:href="@{/css/userStyle.css}" rel="stylesheet">
    <style rel="stylesheet" type="text/css">
      .starter-template .table tr>td:nth-child(1),
      .starter-template .table tr>td:nth-child(3),
      .starter-template .table tr>td:nth-child(4){
        width: 100px;
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">비트교육센터</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="../">Home</a></li>
            <li><a href="../intro.html" th:href="@{../intro}">Intro</a></li>
            <li class="active"><a href="./index.html" th:href="@{./}">Bbs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Bbs</li>
        </ol>
        <div class="page-header">
          <h1>게시판</h1>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>글번호</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="bean:${list}">
              <td><a href="detail.html" th:href="@{./}+${bean.num}" th:text="${bean.num}">5</a></td>
              <td><a href="detail.html" th:href="@{./}+${bean.num}" th:text="${bean.sub}">subject5</a></td>
              <td><a href="detail.html" th:href="@{./}+${bean.num}" th:text="${bean.id}">tester</a></td>
              <td><a href="detail.html" th:href="@{./}+${bean.num}" th:text="${#dates.format(bean.nalja,'yy/MM/dd')}">23/07/04</a></td>
            </tr>
            <tr th:if="${false}">
              <td><a href="detail.html">4</a></td>
              <td><a href="detail.html">subject4</a></td>
              <td><a href="detail.html">tester</a></td>
              <td><a href="detail.html">23/07/04</a></td>
            </tr>
            <tr th:if="${false}">
              <td><a href="detail.html">3</a></td>
              <td><a href="detail.html">subject3</a></td>
              <td><a href="detail.html">tester</a></td>
              <td><a href="detail.html">23/07/04</a></td>
            </tr>
            <tr th:if="${false}">
              <td><a href="detail.html">2</a></td>
              <td><a href="detail.html">subject2</a></td>
              <td><a href="detail.html">tester</a></td>
              <td><a href="detail.html">23/07/04</a></td>
            </tr>
            <tr th:if="${false}">
              <td><a href="detail.html">1</a></td>
              <td><a href="detail.html">subject1</a></td>
              <td><a href="detail.html">tester</a></td>
              <td><a href="detail.html">23/07/04</a></td>
            </tr>
          </tbody>
        </table>
        <a href="add.html" th:href="@{add}" class="btn btn-primary btn-block" role="button">입력</a>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
