.container{
    width: 1200px;
    margin: 0px auto;
}
.container>.row{
    clear: both;
}
.container>.row .grid1,.container>.row .grid2,.container>.row .grid3,
.container>.row .grid4,.container>.row .grid5,.container>.row .grid6,
.container>.row .grid7,.container>.row .grid8,.container>.row .grid9,
.container>.row .grid10,.container>.row .grid11,.container>.row .grid12{
    float: left;
}

.container>.row .grid1{
    width: 100px;
}
.container>.row .grid2{
    width: 200px;
}
.container>.row .grid3{
    width: 300px;
}
.container>.row .grid4{
    width: 400px;
}
.container>.row .grid5{
    width: 500px;
}
.container>.row .grid6{
    width: 600px;
}
.container>.row .grid7{
    width: 700px;
}
.container>.row .grid8{
    width: 800px;
}
.container>.row .grid9{
    width: 900px;
}
.container>.row .grid10{
    width: 1000px;
}
.container>.row .grid11{
    width: 1100px;
}
.container>.row .grid12{
    width: 1200px;
}