.container_w{
    width: 100%;
}
.row{
    clear: both;
}
@media screen and (max-width:899px) {

.container{
    width: 100%;
    margin: 0px auto;
}
.container_w>.row .grid1,.container_w>.row .grid2,.container_w>.row .grid3,
.container_w>.row .grid4,.container_w>.row .grid5,.container_w>.row .grid6,
.container_w>.row .grid7,.container_w>.row .grid8,.container_w>.row .grid9,
.container_w>.row .grid10,.container_w>.row .grid11,.container_w>.row .grid12{
    float: left;
}
.container>.row .grid1,.container>.row .grid2,.container>.row .grid3,
.container>.row .grid4,.container>.row .grid5,.container>.row .grid6,
.container>.row .grid7,.container>.row .grid8,.container>.row .grid9,
.container>.row .grid10,.container>.row .grid11,.container>.row .grid12{
    float: left;
}
.container>.row .mgrid1{            width: 8.333%;        }
.container>.row .mgrid2{            width: 16.666%;        }
.container>.row .mgrid3{            width: 25%;        }
.container>.row .mgrid4{            width: 33.333%;        }
.container>.row .mgrid5{            width: 41.666%;        }
.container>.row .mgrid6{            width: 50%;        }
.container>.row .mgrid7{            width: 58.333%;        }
.container>.row .mgrid8{            width: 66.666%;        }
.container>.row .mgrid9{            width: 75%;        }
.container>.row .mgrid10{            width: 83.333%;        }
.container>.row .mgrid11{            width: 91.666%;        }
.container>.row .mgrid12{            width: 100%;        }
.container_w>.row .mgrid1{            width: 8.333%;        }
.container_w>.row .mgrid2{            width: 16.666%;        }
.container_w>.row .mgrid3{            width: 25%;        }
.container_w>.row .mgrid4{            width: 33.333%;        }
.container_w>.row .mgrid5{            width: 41.666%;        }
.container_w>.row .mgrid6{            width: 50%;        }
.container_w>.row .mgrid7{            width: 58.333%;        }
.container_w>.row .mgrid8{            width: 66.666%;        }
.container_w>.row .mgrid9{            width: 75%;        }
.container_w>.row .mgrid10{            width: 83.333%;        }
.container_w>.row .mgrid11{            width: 91.666%;        }
.container_w>.row .mgrid12{            width: 100%;        }
.row .mclear{            display: none;        }
}
@media screen and (min-width:900px) {

.container{
    width: 1200px;
    margin: 0px auto;
}
.container_w>.row .grid1,.container_w>.row .grid2,.container_w>.row .grid3,
.container_w>.row .grid4,.container_w>.row .grid5,.container_w>.row .grid6,
.container_w>.row .grid7,.container_w>.row .grid8,.container_w>.row .grid9,
.container_w>.row .grid10,.container_w>.row .grid11,.container_w>.row .grid12{
    float: left;
    
}
.container>.row .grid1,.container>.row .grid2,.container>.row .grid3,
.container>.row .grid4,.container>.row .grid5,.container>.row .grid6,
.container>.row .grid7,.container>.row .grid8,.container>.row .grid9,
.container>.row .grid10,.container>.row .grid11,.container>.row .grid12{
    float: left;
}

.container>.row .grid1{    width: 100px;}
.container>.row .grid2{    width: 200px;}
.container>.row .grid3{    width: 300px;}
.container>.row .grid4{    width: 400px;}
.container>.row .grid5{    width: 500px;}
.container>.row .grid6{    width: 600px;}
.container>.row .grid7{    width: 700px;}
.container>.row .grid8{    width: 800px;}
.container>.row .grid9{    width: 900px;}
.container>.row .grid10{    width: 1000px;}
.container>.row .grid11{    width: 1100px;}
.container>.row .grid12{    width: 1200px;}
.container_w>.row .grid1{            width: 8.333%;        }
.container_w>.row .grid2{            width: 16.666%;        }
.container_w>.row .grid3{            width: 25%;        }
.container_w>.row .grid4{            width: 33.333%;        }
.container_w>.row .grid5{            width: 41.666%;        }
.container_w>.row .grid6{            width: 50%;        }
.container_w>.row .grid7{            width: 58.333%;        }
.container_w>.row .grid8{            width: 66.666%;        }
.container_w>.row .grid9{            width: 75%;        }
.container_w>.row .grid10{            width: 83.333%;        }
.container_w>.row .grid11{            width: 91.666%;        }
.container_w>.row .grid12{            width: 100%;        }
}